<textarea id="content">
#### Done

* markdown
* code highlight
* code tab and shift tab operation
* auto complete
* cut a line

#### TODO

* Html Close Tag
* Choose tab, 2-spaces and 4-spaces style

#### A Code Example

    $(function(){
        $('div').html('I am a div.');
    });

#### Another code example

    function Add(int x, int y)
    {
         return x + y;
    }
</textarea>
<br/>
<button id="preview">Preview</button>
<div id="output"></div>
<script type="text/javascript" src="markdown-it.js"></script>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="highlight.pack.js"></script>
<script type="text/javascript" src="bundle.min.js?v=<%= version %>"></script>