{{#each this.dates}}
    <tr>
        {{#each this}}
            {{#if this.isVisible}}
                {{#if this.isWeekend}}
                    <td class="weekend">
                        {{this.text}}
                    </td>
                {{else}}
                    <td class="weekday">
                        <input type="checkbox">
                        {{this.text}}
                    </td>
                {{/if}}
            {{else}}
                <td></td>
            {{/if}}
        {{/each}}
    </tr>
{{/each}}