.the-label {
    border: white 1px solid;
    border-radius: 13px;

    width: 18px;
    height: 18px;

    padding: 3px;

    display: inline-block;

    cursor: pointer;

    user-select: none;
}

.checked {
    background-color: grey;
    color: white;
}

.the-label > input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.holiday, .out-of-range, .full {
    user-select: none;

    color: grey;
}

.calendar > th, td {
    text-align: center;
    padding: 5px;
}

.switch-view-button {
    cursor: pointer;

    user-select: none;
}

.full-image {
    width: 17px;
    height: 19px;

    position: absolute;

    left: 3px;
    top: -6px;
}

.full, .weekday, .out-of-range {
    position: relative;
}

.ordered-image {
    width: 17px;
    height: 19px;

    position: absolute;

    left: 20px;
    top: -6px;
}

.calendar-head {
    user-select: none;
}