<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./vendors/normalize.min.css">
    <!-- rev-hash -->
    <link rel="stylesheet" href="./index.min.css">
    <!-- end -->
</head>
<body>
<div id="container"></div>
<script src="./vendors/react.min.js"></script>
<!-- rev-hash -->
<script src="./index.js"></script>
<!-- end -->
</body>
</html>