<meta charset="UTF-8">
<script src="vue.min.js"></script>

<style>
    .option-checked {
        background: grey;
    }
</style>

<div id="demo">
    v-text demo:
    <p v-text="message"></p>

    v-html demo and get method:
    <p v-html="doubleMessage"></p>

    v-model set method demo:
    <p>
        <input v-model="message" readonly>
    </p>

    v-style demo:
    <p>
        <input v-model="rawMessage" v-style="messageBorderColor">
    </p>

    v-model select demo:
    <p>
        <select v-model="selected">
            <option value="1">name 1</option>
            <option value="2">name 2</option>
        </select>
    </p>

    v-on click event and v-show demo:
    <p>
        <button v-on="click:showMessage();" v-show="showButton">Show Message</button>
    </p>

    v-attr disabled demo:
    <p>
        <button v-attr="disabled:enableButton">Show Message</button>
    </p>

    v-repeat demo:
    <p>
    <ul>
        <li v-repeat='users'>
            <button v-on='click:deleteUser(this)'>delete {{name}}</button>
        </li>
    </ul>
    </p>

    <p>
    <ul>
        <li v-repeat="selectedOptions">
            <div style="width: 50px;display: inline-block;" v-on="click:switchOptions(this);"
                 class="{{isChecked?'option-checked':''}}">{{text}}
            </div>
        </li>
    </ul>
    </p>
</div>

<a target="_blank" href="http://vuejs.org/">More</a>

<script type="text/javascript">
    var demo = new Vue({
        el: '#demo',
        data: {
            message: 'TEST',
            selected: 2,
            users: [{
                id: 1,
                name: "name1"
            }, {
                id: 2,
                name: "name2"
            }],
            selectedOptions: [{
                value: 1,
                text: "a",
                isChecked: false
            }, {
                value: 2,
                text: "b",
                isChecked: true
            }, {
                value: 3,
                text: "c",
                isChecked: true
            }]
        },
        methods: {
            showMessage: function () {
                alert("this message is:" + this.message + ", and the selected is: " + this.selected);
            },
            deleteUser: function (item) {
                this.users.$remove(item.$data);
            },
            switchOptions: function (item) {
                item.$data.isChecked = !item.$data.isChecked;
            }
        },
        computed: {
            doubleMessage: {
                get: function () {
                    return "<i>" + this.message + this.message + "</i>";
                }
            },
            rawMessage: {
                get: function () {
                    return this.message.toLowerCase();
                },
                set: function (value) {
                    this.message = value.toUpperCase();
                }
            },
            showButton: function () {
                return this.message.trim() != "";
            },
            messageBorderColor: function () {
                if (this.message.trim() != "") {
                    return {
                        'border-color': 'green'
                    };
                } else {
                    return {
                        'border-color': 'red'
                    };
                }
            },
            enableButton: function () {
                if (this.message.trim() != "") {
                    return "";
                } else {
                    return 'disabled';
                }
            }
        }
    });
</script>
