<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./vendors/normalize.min.css">
    <!-- rev-hash -->
    <link rel="stylesheet" href="./index.min.css">
    <!-- end -->
</head>
<body>
<table>
    <thead>
    <tr>
        <th>&lt;</th>
        <th colspan="5">2015年7月</th>
        <th>&gt;</th>
    </tr>
    <tr>
        <th>日</th>
        <th>一</th>
        <th>二</th>
        <th>三</th>
        <th>四</th>
        <th>五</th>
        <th>六</th>
    </tr>
    </thead>
    <tbody id="calendar-body">

    </tbody>
    <script src="./vendors/vue.min.js"></script>
    <script src="./vendors/zepto.min.js"></script>
    <!-- rev-hash -->
    <script src="./index.min.js"></script>
    <!-- end -->
</table>
</body>
</html>